@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Årstaängsvägen 9<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@lexicon.se">Support@lexicon.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@lexicon.se">Marketing@lexicon.se</a>
</address>